@mixin horizontal-line {
    height: 1px;
    width: 100%;
    background: $gray;
}
@mixin day-circle {
    border: 2px solid $primary;
    border-radius: 999px;
    height: 5vw;
    width: 5vw;
    min-width: 30px;
    min-height: 30px;
    max-width: 48px;
    max-height: 48px;
    @media (min-width: 768px) {
        width: 8vw;
        height: 8vw;
    }
}
@mixin input-label {
    display: block;
    margin-bottom: 0.25 * $gap;
    font-size: 14px;
}